/* .refresh_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.refresh {
    width: 350px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* justify-content: flex-end;
} */
/*  */
/* .refresh span {
    color: white;
    padding-right: 10px;
}

.button {
    width: 50px;
    height:
} */ 